<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Keysearch</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter key to search" />
        </div>
        <div class="form-group">
            <label for="gender-input">Keysearch</label>
            <select name="gender" id="gender-input" class="form-control">
                <option value="">-- Select gender --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>